<div class="book-post-meta">
  <% if ( (page.categories && page.categories.length) || (page.tags &&
  page.tags.length) ) { %>
  <div class="divider"></div>

  <div class="link">
    <%- list_categories(page.categories, { show_count: false, style: 'none',
    separator: ' ' }) %> <%- list_tags(page.tags, { show_count: false, style:
    'none', separator: ' ', transform(str) { return "#" + str } }) %>
  </div>

  <% } %>

  <div class="divider"></div>
</div>
