<div class="book-post">
  <% if(theme.ad && theme.ad.post_top) { %>
  <div class="ads-wrap" style="height: 260px !important;"><%- theme.ad.post_top %></div>
  <% } %> <%- page.content %>
</div>

<% if(page.comments === undefined || page.comments) { %>
<div class="book-comments"><%- partial('_lib/comments') %></div>
<% } %> <%- js('js/book-post') %>
