.book-content {
  padding: 0 $post-horizontal-pd-lg;

  @media all and (max-width: $pc-media) {
    padding: 0 1.25rem;
  }

  @import '../_components/post';
  @import '../_components/comments';
  @import '../_components/highlight/highlight';
}

